<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

<h3 class="text-center">注册</h3>
<hr/>
<form class="form-horizontal" action="login.do" role="form">
    <div class="form-group">
        <label class="col-sm-5 control-label">username:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">password:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="password" placeholder="password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-5">
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </div>
</form>

</body>
</html>