<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tx.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.tx.model.pojo.Permission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="available" jdbcType="BIT" property="available" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, permission, description, rid, available
  </sql>
  <select id="selectByExample" parameterType="com.tx.model.pojo.PermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_permissions
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_permissions
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tx.model.pojo.PermissionExample">
    delete from sys_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tx.model.pojo.Permission">
    insert into sys_permissions (id, permission, description, 
      rid, available)
    values (#{id,jdbcType=BIGINT}, #{permission,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{rid,jdbcType=BIGINT}, #{available,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tx.model.pojo.Permission">
    insert into sys_permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="available != null">
        available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tx.model.pojo.PermissionExample" resultType="java.lang.Long">
    select count(*) from sys_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_permissions
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.permission != null">
        permission = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.rid != null">
        rid = #{record.rid,jdbcType=BIGINT},
      </if>
      <if test="record.available != null">
        available = #{record.available,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_permissions
    set id = #{record.id,jdbcType=BIGINT},
      permission = #{record.permission,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      rid = #{record.rid,jdbcType=BIGINT},
      available = #{record.available,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tx.model.pojo.Permission">
    update sys_permissions
    <set>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=BIGINT},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tx.model.pojo.Permission">
    update sys_permissions
    set permission = #{permission,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      rid = #{rid,jdbcType=BIGINT},
      available = #{available,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectPermissionByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
          p.id,
          p.permission,
          p.description
      FROM
          sys_users u
      LEFT JOIN sys_users_roles ur ON u.id = ur.user_id
      LEFT JOIN sys_roles r ON r.id = ur.role_id
      LEFT JOIN sys_roles_permissions rp ON r.id = rp.role_id
      LEFT JOIN sys_permissions p ON p.id = rp.permission_id

      WHERE
          u.username = #{username,jdbcType=VARCHAR}

  </select>
</mapper>